<!DOCTYPE html>
<html lang="en">
  {% include "component/head.njk" %}

  <body style="
    --size:0;
      --bg:oklch(0 0 0); 
      --c:oklch(95% 0 200);
      --ff:sans-serif; 
      --p-sm:20px;
      --d:flex; 
      --fd:column; 
      --ai:center; 
      --jc:center;">
      {% include "component/header.njk" %}
    
    <main style="
      --d:flex; 
      --fd:column; 
      --ai:center; 
      --jc:center;
      --mt-sm:20px;
      --w:100%;">
      <h1 style="--ta:center;"><span>Startr.sh</span></h1>
      <p style="--ta:center;">Building an App or Site?</p>
      <h2 style="--ta:center;">We are the <span>Best</span> way to <span>Build</span> and <b>Launch</b></h2>
      <p style="--ta:center;">Just run the following line in your terminal to get startred ;)</p>
      <code style="
        --bg:oklch(30% 0.05 250); 
        --c:oklch(85% 0 320); 
        --p:10px 20px;  
        --br:5px;
        --m: 1rem 2rem;
        --m-sm: 0;">
          bash <(curl -sL startr.sh)</code>

      <h2 style="--ta:center;"><span style="--c:oklch(85% 0 330);">Follow industry best practices.</span>
      </h2>
    </main>


    <section style="--d:flex; --fd:column; --ai:center; --jc:center;--w:100%;">
      <p style="--ta:center; --mt:10px; --mb:20px; --maxw:50ch">With Startr.sh, creating Docker images for your projects is
        streamlined and efficient.</p>


      <p style="--ta:center; --mt:10px; --maxw:50ch">Follow best practices and use popular frameworks like
        Python, Django, Flask,
        Node, and Startr.Style CSS.</p>


      <p style="--ta:center; --mt:10px; --maxw:40ch">After countless projects and years of experience, we provide you
        the tools and insights to launch your projects quickly and reliably.</p>


      <h3 style="--size:28px; --weight:bold; --ta:center; --mt:20px;">Start the best way possible!</h3>


      <div style="--d:flex; --jc:center; --mt:20px;">
        <button
          style="--d:none;--p:10px 20px; --bg:oklch(0.5 0.3 150); --c:oklch(95% 0 100); --border:none; --radius:5px; --m:0 10px;">
          Documentation</button> <a href="https://github.com/Startr/WEB-DEV-startr.sh"><button
            style="--p:10px 20px; --bg:oklch(33% 45% 299deg); --radius:5px; --m:0 10px;">GitHub</button></a>
      </div>
      <img alt="Docker CLI interface" src="https://image.startr.cloud/400x200/cyber"
        style="--mt:20px; --radius:10px;">
    </section>


    <footer style="--d:flex; --ai:center; --jc:center; --w:100%; --p:20px; --bg:oklch(0.15 0.08 220); --mt:20px;">
      <p style="--c:oklch(85% 0 50); --m:0;">© 2024 Startr.sh. All rights reserved.</p>
    </footer>
    <!--