<footer style="--p: 20px; --ta: center">
  <p>Contact us at <a href="mailto:info@canadians.love">info@canadians.love</a></p>
  <p>Follow us on social media for the latest updates.</p>
  <p>Checkout our Privacy Policy and Terms of Service.</p>
  <menu style="--lis:none; --pd:0; --d-md:flex; --m:auto; --cg:1ch; --jc:center; --p:0">
    <li><a href="/privacy">Privacy Policy</a></li>
    <li><a href="/reading_our_terms">Terms of Service</a></li>
    <li><a href="/cookies">Cookies</a></li>
  </menu>
</footer>