<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Include Startr Style CSS -->
  <link href="https://startr.style/style.css" rel="stylesheet">
  <style>
    pre {
      color: rgb(252, 158, 255);
      background: #010;
      font-family: monospace;
      white-space: pre;
      display: block;
    }

    h1 span,
    h1 b,
    h2 span,
    h2 b,
    h3 span,
    h3 b {
      background: -webkit-linear-gradient(#faf, #470182);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>

  <title>
    {{ title }}
  </title>
</head>