<header style="--d: flex; --jc: space-between; --ai: center">
    <nav id="edit_bar" style="--d: none">
      <a id="save" href="data:text, To save enable javascript." onclick="saveDOMAsHTML();return false;">Save</a>
      <a id="edit" href="data:text, To edit enable javascript." onclick="toggleAllTextEditable();return false;"
        >Edit</a
      >
      <a
        id="toggleDrag"
        href="data:text, To drag enable javascript."
        onclick="return false"
        style="--d: none; --d-sm: inline"
        >Drag</a
      >
    </nav>
    <h1><a href="/">Canadians.Love</a></h1>
    <nav>
      <menu style="--d:none; --d-sm: flex; --cg: 0.2ch; --lis: none">
        <li>
          <a href="/AI" style="--c: var(--oklch-dark-gray)">AI Innovations</a>
        </li>
        -
        <li>
          <a href="/#learning" style="--c: var(--oklch-dark-gray)">Learning</a>
        </li>
        -
        <li>
          <a href="/#arts" style="--c: var(--oklch-dark-gray)">The Arts</a>
        </li>
        -
        <li>
          <a href="/#nature" style="--c: var(--oklch-dark-gray)">Nature</a>
        </li>
        -
        <li><a href="#fun" style="--c: var(--oklch-dark-gray)">Fun</a></li>
      </menu>
    </nav>
  </header>