<header style="
  --d:none;
  --d-sm:flex;
  --jc:space-between; 
  --ai:center; 
  --w:100%; 
  --p:20px; 
  --bg:oklch(0.15 0.08 220); 
  --br:0.6rem">
  <div style="--d:flex; --ai:center;">
    <img alt="Logo" src="https://source.unsplash.com/random/50x50?tech" 
      style="--radius:50%; --mr:10px;">
    <h1 style="--m:0; --size:24px;">
      <span>Startr.sh</span>
    </h1>
  </div>

  <nav>
    <a href="#" style="--d:none;--c:oklch(85% 0 50); --m:0 15px; --td:none;">Docs</a> <a href="#"
      style="--d:none;--c:oklch(85% 0 50); --m:0 15px; --td:none;">FAQ</a> <a
      href="https://github.com/Startr/WEB-DEV-startr.sh" style="--c:oklch(85% 0 50); --m:0 15px; --td:none;">GitHub</a>
  </nav>
</header>