<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Include Startr Style CSS -->
  <link href="https://startr.style/style.css" rel="stylesheet">
  <!-- Social Share-->
  <meta property="og:title" content="{{ socialShare.title }}">
  <meta property="og:description" content="{{ socialShare.description }}">
  <meta property="og:image" content="{{ socialShare.social_image }}">
  <meta property="og:url" content="{{ socialShare.url }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@startrsh">
  <meta name="twitter:creator" content="@startrsh">
  <meta name="twitter:title" content="{{ socialShare.title }}">
  <meta name="twitter:description" content="{{ socialShare.description }}">
  <meta name="twitter:image" content="{{ socialShare.social_image }}">
  <meta name="twitter:url" content="{{ socialShare.url }}">
  <meta name="description" content="{{ socialShare.description }}">
  <!-- Favicon -->
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <!-- Larger icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  

  <!-- CSS -->
  <style>
    pre {
      color: rgb(252, 158, 255);
      background: #010;
      font-family: monospace;
      white-space: pre;
      display: block;
    }

    h1 span,
    h1 b,
    h2 span,
    h2 b,
    h3 span,
    h3 b {
      background: -webkit-linear-gradient(#faf, #470182);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>

  <title>
    {{ title }}
  </title>
</head>